# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse project files
.project
.cproject
.autotools
.dirstamp
.settings*
.deps*
*.cache*

# Autotools files
Makefile
config.log
config.status
libtool
